//= require add_to_cart.js
<h1>Pizzas</h1>
<div class="datagrid">
<table>
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Descripcion</th>
      <th>Agrear a la orden</th>
    </tr>
  </thead>

  <tbody>
    <% @platillos.each do |platillo| %>
      <tr>
        <td><%= image_tag platillo.image_url(:thumb).to_s%></td>
        <td><%= platillo.nombre %></td>
        <td><%= platillo.precio %></td>
        <td><%= platillo.descripcion %></td>
        <td><%= link_to image_tag("/imagenes/carro.gif"), '#',
  :onclick => 'addToCart(JSON.parse(\''+platillo.to_json+'\'))' %></td>     
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to image_tag("/imagenes/BackButton.png", size: "200x100"), platillos_path, :class => 'dock-item' %>
