<%= form_for(@platillo_orden) do |f| %>
  <% if @platillo_orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@platillo_orden.errors.count, "error") %> prohibited this platillo_orden from being saved:</h2>

      <ul>
      <% @platillo_orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idplatillo %><br>
    <%= f.number_field :idplatillo %>
  </div>
  <div class="field">
    <%= f.label :idorden %><br>
    <%= f.number_field :idorden %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
