<p id="notice"><%= notice %></p>

<p>
  <strong>Idplatillo:</strong>
  <%= @platillo_orden.idplatillo %>
</p>

<p>
  <strong>Idorden:</strong>
  <%= @platillo_orden.idorden %>
</p>

<%= link_to 'Edit', edit_platillo_orden_path(@platillo_orden) %> |
<%= link_to 'Back', platillo_ordens_path %>
